<style>
    .navbar{
        height: 90px;
        font-size: 1.6rem;
        position: sticky;
        top: 0px;
        z-index: 100;
        
    }
</style>
<nav class="navbar navbar-expand-lg bg-light shadow ">
    <div class="container-fluid">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACjklEQVR4AV2ONZacVxhEb733Nw2KmZmZpcgQOjTH3oaZM2/CsWEBTszMLGbWzPRQd7+vDGLdcyorErc4uuZVYrygmmYb57Un3730/ZYnGbxRAdSBeSX7ItBdd+oFbkHiFpo0OefZMk9IevTPVc/O7huvcAkkjiAeE9oxMFLxw/YHCv7e+TZEAN4P1ICWzNb+iYpcq4Yx+yw6Epvas8qs1mi+vyBf6aCcB7F3W3QQklnd7u/OtL3TIpEIoKlg8+C/BT9sexGAdOLgOxQHkbwuEh8BZ0E1UD2HDhLebjECtIAQrB4b6s1ujQmAFOfbpJyaluf2Gv5K0ncAyD2FdkbmW8TPQL6lhqzNsy/V+XH7iySXgu0Vhiv1qTRdT7WzMidBLWAsKr6T9AswcasgZFZdnded0xxNpJRz5eRlkf1XtxF0Ssc23ylct/x7Y0rt8amxK6CjAHdeBJtXHR8ihWO5YbxvpBoZn2uUEtk6b/N+JH82XQ/6G4PI3H0hQrDy2MqRBZVhneHbycHCrs9f5BYG/uIWx9e/yYVzZy7PmzX/uPEGTAaQtbOy6KOZbmRS7eiG1++kOwP0Gmd7Sj1qXOuwoJobYU4grcfuAkXSwkp2SRM8J0oPECBnLpamP3Q99Tn7UUyLukwhUbkCjKiMr6Wo+ITwAIVNFNb/r/Dkiu9zp7sgj1hcsj30n7D7MNOIBBTbX6SB43H5/5JeSN1o0oupovjp/NIu1fmuS/ZvToyTgCTJgMHw54rT/aerkbUJxNeppwWEljtxtNuK86lAVc+UwXQ5XSx/EKwDTBDY5yP7uxPLx9EPD79N/eg41FKyqSI5Nv850PvsyAjDM2dQ/TRO1KkpqIGQQcWdHOqdWTjGP07AWbJI4iLiAAAAAElFTkSuQmCC" height="35px" alt="">
      <a class="navbar-brand ms-3" href="/products" style="font-size: 1.6rem;">Modern Threads</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/products/new">New</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>